{{#if error}}
  <p class="notice">
    {{error}}
  </p>
{{else}}

  <!-- Server returns a failed flag if the submitted key doesn't match -->
  {{#if failed}}
    <p class="notice">
      {{failed}}
    </p>
  {{/if}}

  <h3>Actions</h3>

  <!-- The server script returns the logs in an array -->
  <p>
    Each time you submit a kenning through the form below, the app will add it to the actions table as well.
    <em>The last updated records will be shown (max 20).</em>
  </p>
  <!-- Write out a table row for each entry in the log array showing choice and timestamp -->
  {{#if actions.length}}
    <div>
      <form action="/search" method="post">
        <a class="button" href="/actions" title="Most Recent">🗓️</a>
        <input type="search" name="search-value" value="{{searchValue}}" placeholder="Search English or Hisyëö"/>
        <button type="submit" title="Search">🔎</button>
      </form>
      <table>
        <tr>
          <th>Kenning</th>
          <th>Dates</th>
          <th>Actions</th>
        </tr>
        {{#each actions}}
          <tr>
            {{#if isDeleted}}
              <td><s><strong>{{english}}</strong></s><br/><s>{{{html}}}</s></td>
              <td>
                <p><small><strong>Created On:</strong> {{formatDate createdOn}}</small></p>
                <p><small><strong>Updated On:</strong> {{formatDate lastUpdatedOn}}</small></p>
                {{#if deletedOn}}<p><small><strong>Deleted On:</strong> {{formatDate deletedOn}}</small></p>{{/if}}
                {{#if restoredOn}}<p><small><strong>Restored On:</strong> {{formatDate restoredOn}}</small></p>{{/if}}
              </td>
              <td>
                <form action="/restore" method="post">
                  <input type="hidden" name="restore-id" value="{{id}}"/>
                  <button type="submit" title="Restore">💓</button>
                </form>
              </td>
            {{else}}
              {{#if isEditing}}
                <td><form action="/save" method="post">
                  <input type="hidden" name="save-id" value="{{id}}"/>
                  <input type="text" name="kenning-english" value="{{english}}"/>
                  <input type="text" name="kenning-hisyeo"  value="{{hisyeo}}"/>
                  <button type="submit" title="Save">💾</button>
                </form></td>
              {{else}}
                <td><strong>{{english}}</strong><br/>{{{html}}}</td>
              {{/if}}
              <td>
                <p><small><strong>Created On:</strong> {{formatDate createdOn}}</small></p>
                <p><small><strong>Updated On:</strong> {{formatDate lastUpdatedOn}}</small></p>
                {{#if deletedOn}}<p><small><strong>Deleted On:</strong> {{formatDate deletedOn}}</small></p>{{/if}}
                {{#if restoredOn}}<p><small><strong>Restored On:</strong> {{formatDate restoredOn}}</small></p>{{/if}}
              </td>
              <td>
                <form action="/edit" method="post">
                  <input type="hidden" name="edit-id" value="{{id}}"/>
                  <button type="submit" title="Edit">✏️</button>
                </form>
                <form action="/delete" method="post">
                  <input type="hidden" name="delete-id" value="{{id}}"/>
                  <button type="submit" title="Delete">🗑️</button>
                </form>
              </td>
            {{/if}}
            
          </tr>
        {{/each}}
      </table>
    </div>
  {{else}}
    <p class="notice">
      No records!
    </p>
  {{/if}}

  <form method="post" action="/add">
    <h2>Add Kennings</h2>
    <p>
      What would you like to add?
    </p>

    <label for="english">English</label>
    <input type="text" id="english" name="english" placeholder="Enter the English meaning here"/>
    <label for="hisyeo">Hîsyêô</label>
    <input type="text" id="hisyeo" name="hisyeo" placeholder="Enter the Hisyëö meaning here"/>
    <label for="pass">Contributor Key</label>
    <input type="password" id="pass" name="key" required />
    
    <button type="submit">Submit</button>

  </form>
    
  <!-- The user can clear the logs if they first set up an admin key in the env -->
  <form action="/reset" method="post">
    <h2>
      Clear Kennings
    </h2>
    <p>
      Clear the kennings only if you are absolutely sure! It cannot be undone.
    </p>

    <label for="pass">Admin Key</label>
    <input type="password" id="pass" name="key" required />
    <button type="submit">Clear All</button>
  </form>

{{/if}}